<!-- start custom head snippets -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<style>
@font-face {
    font-family: 'dejavu_sans_monobold';
    src: url('/assets/fonts/DejaVuSansMono-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.site-title {
    font-family: 'dejavu_sans_monobold', -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}
</style>

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- end custom head snippets -->