---
layout: default
title: "Standigm"
subtitle: "Partnership"
excerpt: "Standigm is looking for more collaboration partners who are interested in potential lead compounds and molecular targets for their specific diseases. We are also looking for innovative pre-clinical models which can validate our generated candidates."
header:
  overlay_image: /assets/images/banner.jpg
  overlay_filter: rgba(100, 0, 50, 0.5)
  overlay_filter_to: rgba(255, 255, 255, 0.5)
gallery:
  - url: http://www.kcubeventures.co.kr
    image_path: /assets/images/partnership/kcube_logo.png
    alt: "KCube Ventures"
  - url: http://lbinvestment.com
    image_path: /assets/images/partnership/lbinvest_logo.png
    alt: "LB Investment"
  - url: http://www.atinuminvest.co.kr
    image_path: /assets/images/partnership/atinum_logo.png
    alt: "Atinum Invest"
feature_row:
  - image_path: /assets/images/partnership/cgx_logo.png
    alt: "Crystal Genomics Logo"
    title: "Crystal Genomics"
    url: "http://www.crystalgenomics.com"
    target : "Cancer, NASH"
    stage : "TEST"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/partnership/ajou_univ_mc.png
    alt: "AJOU University Medical Center Logo"
    title: "AJOU University Medical Center"
    target : "EMR"
    stage : "TEST"
    url: "http://www.ajoumc.or.kr"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/partnership/ajou_pharm_logo.png
    alt: "AJOU University Medical Center Logo"
    title: "AJOU University, College of Pharmacy"
    target : "Parkinson Disease"
    stage : "TEST"
    url: "http://www.ajoumc.or.kr"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/partnership/kist_logo.gif
    alt: "KIST Logo"
    title: "KIST"
    target : "Parkinson Disease"
    stage : "TEST"
    url: "https://www.kist.re.kr"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/partnership/amorepacific_logo_small.png
    alt: "AmorePacific Logo"
    title: "AmorePacific"
    target : "Cosmetic"
    stage : "TEST"
    url: "http://www.amorepacific.com"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include stan_page__hero.html %}

<!-- Partnership-->
<div class="box" id="partnership">

    <div class="sub-title">Investors</div>    
    {% include gallery %}

    <div class="sub-title">Collaborators</div>
    {% include stan_collaborator_row %}

</div>