---
layout: default
title: "Standigm"
subtitle: "Partnership"
excerpt: "Standigm is looking for more collaboration partners who are interested in potential lead compounds and molecular targets for their specific diseases. We are also looking for innovative pre-clinical models which can validate our generated candidates."
header:
  overlay_image: /assets/images/banner.jpg
  overlay_filter: rgba(0, 0, 0, 0.5)
  overlay_filter_to: rgba(255, 255, 255, 0.5)
gallery:
  - url: http://www.kcubeventures.co.kr/en/
    image_path: /assets/images/partnership/kakaoventures_logo.JPG
    alt: "Kakao Ventures"
  - url: http://lbinvestment.com/english/
    image_path: /assets/images/partnership/lbinvest_logo.png
    alt: "LB Investment"
  - url: http://www.atinuminvest.co.kr
    image_path: /assets/images/partnership/atinum_logo.png
    alt: "Atinum Invest"
feature_row:
  - image_path: /assets/images/partnership/SK_chemicals.jpg
    alt: "SK Chemicals logo"
    title: "SK Chemicals"
    url: "https://www.skchemicals.com/main.do?lang=en"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/partnership/HK_inno.jpg
    alt: "HK inno logo"
    title: "HK inno"
    url: "http://www.inno-n.com/eng/index.asp"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/partnership/Hanmi.jpg
    alt: "Hanmi logo"
    title: "Hanmi"
    url: "http://www.hanmipharm.com/ehanmi/handler/Home-Start"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/partnership/IPK.jpg
    alt: "IPK logo"
    title: "IPK"
    url: "http://www.ip-korea.org/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/partnership/kist_logo.png
    alt: "KIST Logo"
    title: "KIST"
    target : "Autism"
    stage : "Under validating animal model"
    url: "http://eng.kist.re.kr/kist_eng/main/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/partnership/ajou_univ_mc.png
    alt: "AJOU University Medical Center Logo"
    title: "AJOU University Medical Center"
    target : "Parkinson's disease"
    stage : "Under validating animal model"
    url: "http://global.ajoumc.or.kr/Eng/Index.aspx"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/partnership/SNUH_BRI_logo.png
    alt: "Seoul National University Hospital Biomedical Research Institute Logo"
    title: "Seoul National University Hospital Biomedical Research Institute"
    url: "http://en.bri.snuh.org"
    target : "Patient recruitment/stratification"
    stage : "Model devleopment"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/partnership/amorepacific_logo_small.png
    alt: "AmorePacific Logo"
    title: "AmorePacific"
    target : "Cosmetics"
    stage : "Completed"
    url: "http://www.apgroup.com/int/en"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---

{% include stan_page__hero.html %}

<!-- Partnership-->
<div class="box" id="partnership">

    <div class="sub-title">Collaborators</div>
    {% include stan_collaborator_row_no_text %}

    <div class="sub-title">Investors</div>
    {% include gallery %}

</div>
