---
layout: stan_archive
title: "Standigm"
subtitle: "NEWS & EVENT"
excerpt: "Recent news about us and upcomming events we will paricipate."
author_profile: false
header:
  overlay_image: /assets/images/banner.jpg
  overlay_filter: rgba(0, 0, 0, 0.5)
  overlay_filter_to: rgba(255, 255, 255, 0.5)
---

{% for post in paginator.posts %}
    {% if post.categories contains "Event" %}
        {% include stan_archive-single-event.html %}
    {% else %}
        {% include stan_archive-single.html %}
    {% endif %}
{% endfor %}

{% include paginator.html %}

