/* ==========================================================================
   ARCHIVE
   ========================================================================== */

.archive {
  margin-bottom: 2em;

  @include breakpoint($large) {
    float: right;
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: calc(100% - #{$right-sidebar-width-narrow});
    padding-right: $right-sidebar-width-narrow;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &__item {
    clear: both;
    border-bottom: 1px solid darkgray;
    .page__meta {
      font-size: $type-size-5;
      text-align: left;
    }
  }

}


.archive__subtitle {
  margin: 1.414em 0 0;
  padding-bottom: 0.5em;
  font-size: $type-size-5;
  color: mix(#fff, $gray, 25%);
  border-bottom: 1px solid $border-color;

  + .list__item .archive__item-title {
    margin-top: 0.5em;
  }
}

.archive__item-title {
  margin-bottom: 0.25em;
  font-family: $sans-serif-narrow;
  color: $dark-gray;
  a + a {
    opacity: 0.5;
  }
}

.archive__item-body {
  margin-left: 1em;
}

/* remove border*/
.page__content {

  .archive__item-title {
    margin-top: 1em;
    border-bottom: none;
  }
}

.archive__item-category {
  color: #4d85b7;
  font-size: 1em;
  @include breakpoint($large) {
    font-size: 0.7em;
    vertical-align: top;
  }

}

.archive__item-teaser {
  border-radius: $border-radius;
  text-align: left !important;
  margin-bottom: 10px;
  min-height: 120px;

  img {
    width: 70% !important;
    height: auto !important;

    @include breakpoint($small) {
      width: 80% !important;
    }

  }
}

.archive__item-thumb {
  border-radius: $border-radius;
  float: left;
  margin: 0 1em 0 0;
  width: 30%;
  min-width: 200px;
}

.archive__item-excerpt {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: $type-size-4;
  overflow: hidden;
  text-align: justify;
  hyphens: auto;
  color: $gray;

  &  p {
    text-indent: 0;
    text-align: left;
  }

  & .fa {
    color: #e59500;
  }
}

.archive__item:hover {

  .archive__item-teaser {
    box-shadow: 0 0 10px rgba(#000, 0.25);
  }

  .archive__item-title {
    text-decoration: none;
  }
}


/*
   List view
   ========================================================================== */

.list__item {

  .page__meta {
    margin: 0 0 4px;
  }
}


/*
   Grid view
   ========================================================================== */

.archive {

  .grid__wrapper {
    /* extend grid elements to the right */

    @include breakpoint($large) {
      margin-right: -1 * $right-sidebar-width-narrow;
    }

    @include breakpoint($x-large) {
      margin-right: -1 * $right-sidebar-width;
    }
  }
}

.grid__item {
  margin-bottom: 2em;

  @include breakpoint($small) {
    float: left;
    width: span(5 of 10);

    &:nth-child(2n+1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(2n+2) {
      clear: none;
      margin-left: gutter(of 10);
    }
  }

  @include breakpoint($medium) {
    margin-left: 0; /* override margin*/
    margin-right: 0; /* override margin*/
    width: span(3 of 12);

    &:nth-child(2n+1) {
      clear: none;
    }

    &:nth-child(4n+1) {
      clear: both;
    }

    &:nth-child(4n+2) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n+3) {
      clear: none;
      margin-left: gutter(1 of 12);
    }

    &:nth-child(4n+4) {
      clear: none;
      margin-left: gutter(1 of 12);
    }
  }

  .page__meta {
    margin: 0 0 4px;
  }

  .archive__item-title {
    margin-top: 0.5em;
    font-size: $type-size-5;
  }

  .archive__item-excerpt {
    display: none;

    @include breakpoint($medium) {
      display: block;
      font-size: $type-size-6;
    }
  }

  .archive__item-teaser {

    @include breakpoint($small) {
      max-height: 200px;
    }

    @include breakpoint($medium) {
      max-height: 120px;
    }
  }
}


/*
   Features
   ========================================================================== */

.feature__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  padding-left: 20px;
  padding-right: 20px;
  .archive__item {
    border: none;
  }
}

.feature__item {
  margin-bottom: 1.3em !important;
  font-size: 1.25rem;
  padding-left: 30px;
  border-bottom: 1px solid darkgray;
  @include breakpoint($small) {
    border-bottom: none;
  }

  @include breakpoint($small) {
    float: left;
    margin-bottom: 0;
    width: span(4 of 12);

    &:nth-child(3n+1) {
      clear: both;
      margin-left: 0;
    }

    &:nth-child(3n+2) {
      clear: none;
      margin-left: gutter(of 12);
    }

    &:nth-child(3n+3) {
      clear: none;
      margin-left: gutter(of 12);
    }

    .feature__item-teaser {
      max-height: 200px;
      overflow: hidden;
    }
  }

  &--left {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {

      .archive__item-teaser {
        float: left;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: right;
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
        width: span(7 of 12);
      }
    }
  }

  &--right {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: right;

      .archive__item-teaser {
        float: right;
        width: span(5 of 12);
      }

      .archive__item-body {
        float: right;
        width: span(7 of 12);
        padding-left: gutter(0.5 of 12);
        padding-right: gutter(1 of 12);
      }
    }
  }

  &--center {
    float: left;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    clear: both;
    font-size: 1.25rem;

    .archive__item-teaser {
      margin-bottom: 2em;
    }

    @include breakpoint($small) {
      text-align: center;

      .archive__item-teaser {
        margin: 0 auto;
        width: span(5 of 12);
      }

      .archive__item-body {
        margin: 0 auto;
        width: span(7 of 12);
      }
    }
  }
}

/*
   Events
   ========================================================================== */

.event__wrapper {
  @include clearfix();
  margin-bottom: 2em;
  border-bottom: 1px solid $border-color;
}

.event__item {

  margin-bottom: 2em;
  font-size: 1.25rem;
  padding-top: 3px;

  &-excerpt {
    font-size: 1.5rem;
  }

  &-teaser {
    align-items: center;
    display: flex;
    margin: 10px 10px 0px 10px;
    min-height: 129px;
    overflow: hidden;
    justify-content: space-around;

    a img {
      max-height: 129px;
    }
  }

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      .event__item-title {
        color: nth($event_color_list, $i);
      }
    }
  }

  &-title {
    text-align: center;
    font-family: "Roboto";
    font-weight: bolder;
    line-height: 1.4em;

    @include breakpoint($medium) {
      font-size: 18px;
    }

    @include breakpoint($medium-wide) {
      font-size: 24px;
    }

  }

  &-body {
    padding: 10px;
    border-top: 2px solid darkgrey;

    .date,
    .location {
      font-family: $roboto
    }

    .date,
    .location,
    .event__item-excerpt {
      margin : 0 ;
      padding: 0 5px 3px 5px;
      font-size: 18px;
      font-weight: lighter;

      .icon_container {
        display:inline-block;
        text-align: center;

        .fa {
          width: 20px;
          color: darkseagreen; //darkslategray;
        }
      }
    }

    p {
      margin: 5px 0 0 0;
    }
  }

  @include breakpoint($medium) {
    float: left;
    margin-bottom: 0;
    width: span(3 of 12);

    &:nth-child(4n+2) {
      clear: both;
      margin-left: 0;
      //background-color: nth($event_color_list, 1);
    }

    &:nth-child(4n+3) {
      clear: none;
      margin-left: gutter(of 12);
      //background-color: nth($event_color_list, 2);
    }

    &:nth-child(4n+4) {
      clear: none;
      margin-left: gutter(of 12);
      //background-color: nth($event_color_list, 3);
    }

    &:nth-child(4n+1) {
      clear: none;
      margin-left: gutter(of 12);
      //background-color: nth($event_color_list, 4);
    }


  }

}